*{
 margin:0;
 padding:0;
 box-sizing: border-box;

}
body{
 font-family: 'open sans';
 font-size: 16px;
}
header{
 width: 100%;
 height: 650px;
 background-image: url( https://image.freepik.com/free-photo/tasty-pepperoni-pizza-black-concrete-background_79782-102.jpg);
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
 position: relative;
 overflow: hidden;
 color:#fff;
 text-align: center;
}
header .textos{
 margin-top:152px;
}
header .titulo{
 font-size:85px;
}
header .subtitulo{
font-size:42px;
font-weight:300;
margin-bottom:32px;
}
header .boton{
 display: inline-block;
 padding: 6px;
 width: 158px;
 border: 1px solid #fff;
 font-size: 19px;
 text-align: center;
 text-decoration: none;
 border-radius: 16px; 
 color:#fff;
}
.sesgoabajo{
 position: absolute;
 bottom: 0;
 left: 0;
 border-width: 0 0 35vh 100vw;
 border-style: solid;
 border-color: transparent transparent #fff transparent;
}
.sesgoarriba{
 z-index: 10;
 position: absolute;
 top: 0;
 left: 0;
 border-width: 35vh 100vw 0 0 ;
 border-style: solid;
 border-color: #fff transparent transparent  transparent;
}
.acerca-de .boton{
 display: inline-block;
 padding: 5px;
 width: 158px;
 font-weight: 300;
 border: 2px solid rgba(24,16,16,.7);;
 font-size: 16px;
 text-align: center;
 text-decoration: none;
 border-radius: 20px; 
 color: rgb(24,16,16);
 margin-top: 10px;
}

.fondo{
 height: 550px;
 position: relative;
 background-image: url( https://img.freepik.com/foto-gratis/cortar-rodajas-deliciosa-pizza-fresca-pepperoni_79782-17.jpg?size=626&ext=jpg);
 overflow: hidden;
 background-attachment: fixed;
 background-position: center;
 padding-top: 130px;
}

.wrap{
 width: 100%;
 margin: 50px auto;
 display: flex;
 justify-content: center;
}


.tarjeta-wrap{
width: 100%;
margin:10px;
-webkit-perspective: 800;
perspective: 800;
}


.tarjeta{
 width: 100%;
 height: 350px;
 background: black;
 position: relative;
 transform-style: preserve-3d;
 transition: .7s ease;
 -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
 -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
 box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}


.adelante, .atras{
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
}


.adelante{
 width: 100%;
 height: 100%;
}


.atras{
 width: 50%;
 height: 50%;
 transform: rotateY(180deg);
 padding: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 color:#fff;
 font-family: "open sans";
}

.tarjeta-wrap:hover .tarjeta{
 transform: rotateY(180deg);
 width: 100%;
}
textarea{
    font-size: .2rem;
}

.img1{
 background-image: url( https://phmex.vteximg.com.br/arquivos/ids/155535/HUT-CHEESE-HAWAIANA.jpg?v=636834183544470000&width=300 );
 background-size:cover;
 max-width: 100%;
}


.img2{
 background-image: url(https://phmex.vteximg.com.br/arquivos/ids/155573/GRAN-HUT-PEPPERONI.jpg?v=636834183688170000&width=300);
 background-size: cover;
 max-width: 100%;
}


.img3{
 background-image: url(https://phmex.vteximg.com.br/arquivos/ids/155553/MEXICANA.jpg?v=636834183601900000&width=300);
 background-size:cover;
 max-width: 100%;
}

.img4{
 background-image: url(https://phmex.vteximg.com.br/arquivos/ids/155503/PAN-PIZZA-QUESO.jpg?v=636834183426970000&width=300);
 background-size: cover;
 max-width: 100%;
}
.img5{
 background-image: url(https://phmex.vteximg.com.br/arquivos/ids/155591/PAN-PIZZA-SUPREMA.jpg?v=636834183739770000&width=300);
 background-size: cover;
 max-width: 100%;
}
.img6{
 background-image: url(https://phmex.vteximg.com.br/arquivos/ids/155544/PAN-PIZZA-MEAT-LOVERS.jpg?v=636834183567970000&width=300);
 background-size: cover;
 max-width: 100%;
}
.slogan{
 font-size: 24px;
 font-weight: 300;
 text-align: center;
 margin-bottom: 24px;
}